*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid red;
}

header{
    height: 100px;
    background: #BEBEBE;
    display: flex;
    align-items: center;
}

header h1{
    margin-left: 20px;
}

nav{
    height: 40px;
    background: #254C7B;
    display: flex;
    width: 100%;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul li a{
    color: #FFF;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

article{
    display: flex;
   /* flex-wrap: wrap;*/
}

section h1{
    padding: 10px
}

article img{
    padding-left: 10px;
    padding-right: 10px;
}

hr{
    margin: 20px;
}

aside{
    margin-left: 15px;
}

aside h4{
    padding: 5px;
}

aside p{
    margin-left: 5px;
}

footer{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    background: black;
    color: #FFF;
    padding: 1.5%;
}